@mixin absolute-fill() {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin text-overflow($type) {
	white-space: nowrap;
	text-overflow: $type;
	-o-text-overflow: $type;
	-ms-text-overflow: $type;
	overflow: hidden;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-ms-transform: $transform;
	transform: $transform;
}
