@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin text-overflow($type) {
	white-space: nowrap;
	text-overflow: $type;
	-o-text-overflow: $type;
	-ms-text-overflow: $type;
	overflow: hidden;
}
