@font-face {
  font-family: "Custom Icons";
  src:
  url("./icon-font/fa-solid-900.ttf") format("truetype"),
  url("./icon-font/fa-solid-900.eot") format("eot"),
  url("./icon-font/fa-solid-900.woff") format("woff"),
  url("./icon-font/fa-solid-900.woff2") format("woff2"),
  url("./icon-font/fa-solid-900.svg") format("svg"),
}

.custom-icon {
  font-family: 'Custom Icons', 'Icons', sans-serif !important;

  &.circle:before { content: "\f111"; }
  &.check-circle:before { content: "\f058"; }
  &.door-closed:before { content: "\f52a"; }
  &.door-open:before { content: "\f52b"; }
}
