@import '../../../../resources/_mixins.scss';

.management-modal {
  .ui.list .roles-permission-door-list {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0;

    > .item > div {
      @include transition(background-color 300ms);
      display: grid;
      grid-template-columns: 9fr 1fr;
      cursor: pointer;
      border: 1px solid #fff;
      padding: 15px;
      border-radius: 5px;
      background-color: rgba(black, 0.03);

      .ui.toggle.checkbox {
        pointer-events: none;
      }

      p, span {
        @include text-overflow(ellipsis);
        margin: 0 5px 0 0;
      }

      .warn {
        margin-right: 5px;
      }

      &:hover {
        background-color: rgba(black, 0.05);
      }
    }
  }
}
