.store {
  height: 100%;

  .ui.container.wrap-store {
    padding-top: 3em;
  }

  .customize-buttons {
    margin-top: 1em;
  }

  .ui.compact.labeled.menu {
    float: right;
  }

  .ui.large.icon.button {
    margin-bottom: 1em;
  }

  .ui.header.no-space-top {
    margin-top: 0;
  }
}
