@import '../../resources/mixins';

.store {
  height: 100%;

  span.unregister {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .ui.container.wrap-store {
    padding: 3em 1em;

    > h1.ui.header.huge {
      @include text-overflow(ellipsis);
    }
  }

  .customize-buttons {
    margin-top: 1em;
  }

  .ui.compact.labeled.menu {
    float: right;
  }

  .ui.large.icon.button {
    margin-bottom: 1em;
  }

  .ui.header.no-space-top {
    margin-top: 0;
  }
}
