@import '../../../../resources/_mixins.scss';

.management-modal {
  .ui.list {
    div.item-wrapper {
      > div.employee-list-item > div > div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 15px;
        align-items: center;

        .ui.dropdown {
           .text, .visible.menu > div.item {
            @include text-overflow(ellipsis);
            max-width: 100%;
          }
        }
      }
    }
  }
}
