.selected-employee-permissions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;

  .door-permissions {
    line-height: 16px;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
    background-color: #0000001a;

    span:not(.warn) {
      margin-left: 5px;
      font-size: 15px;
    }
  }
}
