@import '../../resources/_mixins.scss';

.register {
  width: 80%;
  margin: auto;

  .hero {
    background-image: linear-gradient(90deg, #263869 20%, #4b6cb7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    padding: 80px 80px 100px 80px;

    &:after {
      border-width: 90px 0 0 100vw;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 0 100vw;
      border-color: transparent transparent transparent #0e1938;
      z-index: 2;
    }
  }

  .content {
    position: relative;
    z-index: 2;

    .top {
      margin: 100px 0 200px 0;

      p {
        opacity: 0;
        transform: translateY(20px);
        animation: fade-in-up 0.6s;
        animation-fill-mode: forwards;

        &.medium {
          animation-delay: 0.2s;
        }

        &.small {
          animation-delay: 0.4s;
        }
      }
    }

    .bottom {
      opacity: 0;
      transform: translateY(20px);
      animation: fade-in-up 0.6s 0.6s;
      animation-fill-mode: forwards;

      .register-button {
        @include transition(background-color 600ms);
        display: inline-block;
        border: 1px solid #25cb68;
        border-radius: 45px;
        padding: 30px 45px;
        margin-top: 30px;
        cursor: pointer;
        position: relative;

        span {
          @include vertical-align(middle);
          text-transform: uppercase;

          &.icon {
            @include transition(opacity 400ms);
            position: absolute;
            color: #25cb68;

            &.lock {
              opacity: 0;
            }
          }

          &:not(.icon) {
            margin-left: 40px;
          }
        }

        &:hover {
         background-color: rgba(#4b6cb7, 0.5);

         span.icon {
           &.lock {
             opacity: 1;
           }

           &.lock-open {
             opacity: 0;
           }
         }

        }
      }
    }
  }


  .modal {
    input {
      width: 400px;
      margin: 45px 0 0 0;
    }

    .button {
      float: right;
    }
  }

  p {
    margin-bottom: 15px;

    &.big {
      color: #25cb68;
      font-size: 50px;
      font-weight: bold;
    }

    &.medium {
      font-size: 22px;
    }

    &.small {
      font-size: 16px;
    }


    &.call {
      font-size: 22px;
      font-style: italic;
    }

    > span {
      font-weight: bold;
      font-style: italic;
    }
  }
}
